img {
  display: inline-block;
  margin-left: 10%;
  margin-right: auto;
  width: 45%;
  height: 90%;
  vertical-align: middle;
}

html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  background-color: rgb(100, 100, 100);
  width: 100%;
  height: 100%;
}

.flat-button{
  width: 45%;
  height: 1;
  align-items: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

#btn-ad:hover{
  background-color: #e74c3c;
}
#btn-noad:hover{
  background-color: #3498db;
}

.btn-text{
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: white;
}

#annot-buttons{
  display: inline-block;
  margin-left: calc(20% + 50px);
  margin-top: 1%;
  width: 45%;
  height: 10%;
}

#btn-ad{
  border: #e74c3c 2px solid;
  float: left;
}

#btn-noad{
  border: #3498db 2px solid;
  float: right;
}

.round-button{
  display: table;
  float: left;
  margin-left: 10%;
  margin-top: 25%;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgb(70, 70, 70);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.round-button:hover{
  background-color: rgb(75, 75, 75);
}

.round-button-text{
  display: table-cell;
  color: white;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 50%;
  line-height: 50px;
}

.btn-ad-click{
  background-color: rgb(231, 76, 60);
}

.btn-noad-click{
  background-color: rgb(52, 152, 219);
}

.loader {
  position: absolute;
  left: 35%;
  top: 45%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  float: right;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

#panel{
  background-color: rgb(50, 50, 50);
  float: right;
  width: 20%;
  height: 100%;
  margin-top: 0px;
  overflow-y: scroll;
}

#imgpnl {
  float: left;
  width: 80%;
  height: 100%;
}

.panel-div{
  background-color: rgb(100, 100, 100);
  width: 90%;
  height: 22em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5%;
}

.panel-img{
  display: block;
  width: 12em;
  height: 17em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.panel-h3{
  text-align: center;
}
