html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
  background-color: rgb(100, 100, 100);
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#imgpnl {
  float: left;
  width: 80%;
  height: 100%;
  align-items: center;
}

img {
  display: inline-block;
  margin-right: auto;
  max-width: 45%;
  max-height: 90%;
  vertical-align: middle;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

button{
  width: 100%;
  height: 15%;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 1vw;
  color: white;
}

#annot-buttons{
  display: inline-block;
  font-size: 1vw;
  width: 20%;
  height: 25%;
  padding-left: 5%;
}

#btn-ad{
  margin-top: 5%;
  border: #e74c3c 2px solid;
  float: bottom;
}

#btn-noad{
  border: #3498db 2px solid;
  float: top;
}

.btn-ad-click{
  background-color: rgb(231, 76, 60);
}

.btn-noad-click{
  background-color: rgb(52, 152, 219);
}

#btn-ad:hover{
  background-color: #e74c3c;
}
#btn-noad:hover{
  background-color: #3498db;
}

#btn-ad:focus{
  background-color: #e74c3c;
}

#btn-noad:focus{
  background-color: #3498db;
}

.round-button{
  display: table;
  float: left;
  margin-left: 10%;
  margin-top: 25%;
  border-radius: 50%;
  background-color: rgb(70, 70, 70);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.round-button:hover{
  background-color: rgb(75, 75, 75);
}

.round-button-text{
  display: table-cell;
  color: white;
  text-align: center;
  line-height: 50px;
}

.loader {
  position: absolute;
  left: 35%;
  top: 45%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  float: right;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

#panel{
  background-color: rgb(50, 50, 50);
  float: right;
  width: 20%;
  max-width: 400px;
  height: 100%;
  margin-top: 0px;
  overflow-y: scroll;
}

.panel-div{
  background-color: rgb(100, 100, 100);
  width: 90%;
  max-width: 330px;
  max-height: 350px;
  height: 22em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 5%;
}

.panel-img{
  display: block;
  max-width: 12em;
  max-height: 17em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.panel-h3{
  text-align: center;
}
